/* Write your CSS here */
.repo-item-cont {
  background-color: #f8f8ff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 200px;
}
.item-logo {
  width: 80px;
}
.count-cont {
  display: flex;

  align-items: center;
}
.count {
  width: 20px;
  margin-right: 10px;
}
.item-head {
  color: #e73959;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}
.star-count {
  color: #1e293b;
  font-size: 12px;
  font-family: 'Roboto';
}
